html, body {
  height: calc(100% - 10px);
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
}

.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 79px;
}

.App-header {
  background-color: #222;
  height: 150px;
  width: 100%;
  padding: 20px;
  color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
}

.App-intro {
  font-size: large;
}

.App-sub {
  height: calc(100% - 210px);
  display: inline-block;
  position: relative;
  top: 200px;
  margin: 10px 10px;
}

.App-sub.left {
  width: 25%;
  float: left;
}

.App-sub.center {
  width: 40%;
}

.App-sub.right {
  width: 25%;
  float: right;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
