.board {
  border: 1px solid black;
  height: 500px;
  width: 500px;
  background: #b8b8b8;
  position: absolute;
  left: 0px;
  right: 0px;
  margin: auto;
  z-index: 9;
}

.intro {
  width: 500px;
  position: absolute;
  top: 50%;
  margin-top: -25px;
}

.bold {
  font-weight: bold;
}
