.infoContainer {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
}

.infoHeader {
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
}

.infoBody {
  padding-left: 20px;
  padding-right: 20px;
  text-align: justify;
  font-size: 18px;
}

.info {
  background-color: #ee99ff;
  border: 5px solid #dd33ff;
  border-radius: 25px;
  margin-top: 10px;
  height: calc(100% - 120px);
  width: 100%;
  overflow: hidden;
}

.infoButtonContainer {
  background-color: #ee99ff;
  border: 5px solid #dd33ff;
  border-radius: 25px;
  height: 100px;
  width: 100%;
}

button {
  font-size: 16px;
  background-color: #cc00ff;
  color: white;
  border-radius: 7px;
  border-bottom: 4px solid #770088;
  padding: 15px 32px;
  letter-spacing: 1px;
  position: relative;
  top: 25%;
}

button:hover {
  border: none;
  font-size: 16px;
  background-color: #cc00ff;
  color: white;
  border-radius: 7px;
  border-bottom: 4px solid #770088;
  padding: 15px 32px;
  letter-spacing: 1px;
}

button:active {
  border: none;
  font-size: 16px;
  background-color: #aa00ff;
  color: #CCC;
  border-radius: 7px;
  border-bottom: 4px solid #770088;
  padding: 15px 32px;
  letter-spacing: 1px;
}
