.selectItemContainer {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 40%;
}

.imageContainer {
  width: 100%;
}

.captionContainer {
  padding-top: 10px;
  font-weight: bold;
}

.bord {
  border: 2px solid black;
}
