.select {
  background-color: #ee99ff;
  border: 5px solid #dd33ff;
  border-radius: 25px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  display: inline-flex;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.select::-webkit-scrollbar {
  width: 5px;
}

.select::-webkit-scrollbar-thumb {
    background-color: #7C7986;
    border-radius: 15px;
}
